.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContainer {
  width: 700px;
  border-radius: 10px;
  background-color: #f7f7f7;
  z-index: 1000;
}

.modalHeader {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #a7cae6;
}

.modalContent {
  padding: 10px;
}